@import "colors.css";

* {
  font-family: "JetBrains Mono", Rubik, sans-serif;
}

:root {
  --bg-color: var(--ctp-latte-base);
  --text-color: var(--ctp-latte-text);
  --surface-color: var(--ctp-latte-surface0);
  --overlay-color: var(--ctp-latte-overlay0);
  --overlay2-color: var(--ctp-latte-overlay2);
  --accent-color: var(--ctp-latte-mauve);
  --clock-color: var(--ctp-latte-pink);
}

body.dark-mode {
  --bg-color: var(--ctp-mocha-base);
  --text-color: var(--ctp-mocha-text);
  --surface-color: var(--ctp-mocha-surface0);
  --overlay-color: var(--ctp-mocha-overlay0);
  --overlay2-color: var(--ctp-mocha-overlay2);
  --accent-color: var(--ctp-mocha-mauve);
  --clock-color: var(--ctp-mocha-pink);
}

body {
  background: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  color: var(--overlay-color);
  display: flex;
  align-items: center;
}

#center-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  text-align: center;
}

#clock {
  color: var(--clock-color);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

#search-form {
  display: block;
}

#search-input {
  width: 90%;
  padding: 10px 15px;
  border: 2px solid var(--overlay-color);
  border-radius: 25px;
  background-color: var(--surface-color);
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

#search-input:focus {
  border-color: var(--accent-color);
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--overlay2-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1; /* Helps align the emoji */
}

#theme-toggle:hover {
  background-color: var(--surface-color);
}
