@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

body {
  font-family: 'JetBrains Mono', Rubik, sans-serif;
  background: var(--ctp-mocha-base);
}

#clock {
  color: var(--ctp-mocha-text);
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  /* padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;   */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}